.storyes {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.foto {
  width: 100px;
}
.splide {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 10px;
  width: 50%;
}
@media (max-width: 1400px) {
  .splide {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .splide {
    width: 90%;
  }
  .storyes {
    padding-top: 20px;
  }
}
