.storyes {
  padding-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.foto {
  width: 100px;
}
.splide {
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 10px;
  width: 60%;
}
@media (max-width: 1400px) {
  .splide {
    width: 80%;
  }
}
@media (max-width: 750px) {
  .storyes {
    justify-content: center;
  }
  .splide {
    padding-left: 0;
  }
}
