.picture {
  width: 70px;
  border-radius: 100px;
  border: 3px solid #d23394;
}
.splideReact {
  display: flex;
  justify-content: space-between;
}
.splide {
  text-align: center;
}
@media (max-width: 1400px) {
  .picture {
    width: 60px;
  }
}
