.all {
  display: flex;
}
.main {
  background-color: white;
  color: black;
  width: 300px;
  border-right: 1px solid #cccccc;
}

.barraLateral {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 12px;
  height: 951px;
}
.instagramLogo {
  width: 120px;
  padding-left: 15px;
  padding-top: 10px;
}
.icons {
  width: 45px;
}
.iconDiv {
  padding-left: 5px;
  display: flex;
  justify-items: center;
}
.inicialPage {
  padding-top: 10px;
  padding-left: 6px;
  font-weight: bold;
  font-size: 15.5px;
  font-family: sans-serif;
  &:hover {
    background-color: #efefef;
    border-radius: 100px;
  }
}
.icon {
  padding-top: 10px;
  padding-left: 6px;
  font-size: 15.5px;
  font-family: sans-serif;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
    border-radius: 100px;
  }
}
.img {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    scale: (1.06);
  }
}
.profile {
  width: 25px;
  border-radius: 20px;
}
@media (max-width: 1400px) {
  .main {
    width: 300px;
  }
}
@media (max-width: 750px) {
  .iconDiv {
    padding: 0;
  }
  .barraLateral {
    padding-left: 20px;
  }
  .icon {
    font-size: 0;
  }
  .inicialPage {
    font-size: 0;
  }
  .instagramLogo {
    width: 0;
  }
  .img {
    width: 30px;
  }
  .main {
    width: 80px;
  }
}
@media (max-width: 500px) {
  .main {
    width: 0px;
  }
  .img {
    width: 0;
    height: 0;
  }
  .profile {
    width: 0;
    height: 0;
  }
}
